@page
@model project1.Pages.Greet.IndexModel
@{
}

@{
    string[] names = { "s","a","r" };
    foreach(string name in names)
    {
           <p>Hello ,@name </p>
    }
}

<button> <a asp-route-id ="1" asp-route-name="AB" asp-page="/Privacy">1</a></button>
<button> <a asp-route-id="2" asp-page-handler="New" asp-page="/Privacy">2</a></button>
<button> <a asp-route-id="3" asp-page="/Privacy">3</a></button>


