html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
body {
    background-color: beige;
}

.cont {
    width: 50vw;
    height: 50vh;
    border: 10px black solid;
    margin-left: 20vw;
    margin-top: 20vh;
    background-color: aliceblue;
}

h1 {
    margin-left: 20vw;
}

.text-cont {
    display: flex;
    flex-direction: column;
    margin-top: 7vh;
}

#email, #password, label {
    height: 3vh;
    width: 10vw;
    margin-left: 10vw;
    margin-top: 1vh;
}

.btn-cont {
    margin-top: 7vh;
    margin-left: 10vw;
}

.login-btn {
    width: 5vw;
    height: 3vh;
    background-color: cornflowerblue;
    color: white;
}
}